// fonts
$raleway: 'Raleway',Helvetica,Arial,sans-serif;

// media
$xxl: 'screen and (max-width: 1600px)'; //до 1440
$xl: 'screen and (max-width: 1440px)'; //до 1280
$lg: 'screen and (max-width: 1280px)'; // до 1024
$md: 'screen and (max-width: 1024px)'; // до 768 
$sm: 'screen and (max-width: 768px)'; //до 360
$esm: 'screen and (max-width: 575px)'; 
 
//colors
$white: #ffffff;
$black: #000000;