footer.footer.js-footer
    .container 
        ul.footer__contacts.js-footer-contacts
            li.footer__contact
                p.footer__contact-name Alfredstrabe 155
                p.footer__contact-text D-45131 Essen
            li.footer__contact 
                a(href="tel:+49 201 84275-0") 
                    p.footer__contact-name TEL
                    p.footer__contact-text +49 201 84275-0
            li.footer__contact 
                p.footer__contact-name FAX
                p.footer__contact-text +49 201 84275-75
            li.footer__contact 
                a(href="mailto:info@architekten-kfp.de") 
                    p.footer__contact-name MAIL
                    p.footer__contact-text info@architekten-kfp.de
        .footer__nav
            .footer__copy.js-footer-copy &copy;&nbsp;1990-2022. Kraft F&uuml;hres Architekten
            .footer__links.js-footer-links
                a(href="#").footer__link IMPRESSUM
                a(href="#").footer__link DATENSCHUTZ

