meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='format-detection' content='telephone=no')
meta(name='description' content='KFP')
meta(name='keywords' content='KFP')
title #{title}
link(href=`css/style.min.css` type="text/css" rel="stylesheet")
script(src="js/app.min.js" defer)
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")