header.header
    .container
        .header__inner
            .header__burger 
                img(src="img/svg/burger.svg", alt="")
            a(href="#").header__logo.js-headerLogo
                img(src="img/svg/logo.svg", alt="logo")
            nav.header__nav 
                ul.header__links
                    li.header__link.js-headerLink-1
                        a(href="#") Home
                    li.header__link.js-headerLink-2
                        a(href="#") Leistungen
                    li.header__link.js-headerLink-3
                        a(href="#") projekte
                    li.header__link.js-headerLink-4
                        a(href="#") WIR
                    li.header__link.js-headerLink-5
                        a(href="#") Jobs
                    li.header__link.js-headerLink-6
                        a(href="#") kontakt
            .header__message.js-headerMessage
                a(href="#") Jetzt bewerben