main(class=`main main-${page}`)
    .container 
        section.carousel__block
            .carousel.js-carousel 
                .carousel__slide
                    picture
                        source(media="(min-width: 575px)", srcset=`img/slide1.jpg`)
                        img(loading='lazy' src=`img/slide1-mob.jpg`, alt="", width="100%", height="100%")
                .carousel__slide
                    img(src='img/slide2.jpg')
                .carousel__slide
                    img(src='img/slide3.jpg')
            a(href="#").carousel__link
        section.description
            .description__block
                .description__col.js-descCol
                    h2.description__title KKD St. Johannes Hospital Duisburg&nbsp;/ Ersatzneubau Funktionsgeb&auml;ude
                    h3.description__subtitle Kliniken
                    p.description__name SCHLÜSSELDATEN
                    p.description__label Velbert, 2018 – 2019<br>Lebenshilfe für Menschen mit geistiger Behinderung e.V.<br>BRI: 6.850 m<sup>3</sup> | NF: 1.225 m<sup>2</sup>
                .description__col.js-descColSecond
                    h4.description__name Projektbeschreibung
                    p.description__text Neubau eines Wohnheimes f&uuml;r Menschen mit geistiger Behinderung, sowie Wohnungen f&uuml;r Betreutes Wohnen. Neben den Wohngruppen
                    p.description__text (Wohnheim/station&auml;res Wohnen f&uuml;r 14&nbsp;Pers.) mit Einbettzimmern und dem Betreuten Wohnen (7&nbsp;Wohnungen f&uuml;r insgesamt 9&nbsp;Pers.), wei&szlig;t das Geb&auml;ude f&uuml;r die Betreuung der Bewohner notwendige, sonstige Einrichtungen und R&auml;umlichkeiten, wie B&uuml;ror&auml;ume des Betreuungspersonals, Pflegebad und Gemeinschaftsr&auml;ume auf.
                    p.description__text Au&szlig;erdem befindet sich im&nbsp;Erdgeschoss eine LT24 genannte Nutzung (gro&szlig;er Aufenthaltsraum, Therapieraum, Garderobe und Rollstuhl-WC) in&nbsp;der die Lebenshilfe eine tagesstrukturierende Betreuung anbietet. Der Au&szlig;enbereich wird mit Aufenthaltsbereichen gestaltet und eingerichtet.
        section.links.js-links
            .links__item.js-item-1
                a(href="#").links__text Zum Nächsten Projekt<span class="links__text-arrow"></span>
            .links__item.js-item-2
                a(href="#").links__text <span class="links__text-arrow"></span>Vorheriges Projekt

        